<h1>Edit User Profile</h1>

<% header "Edit #{resource_name.to_s.humanize}" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
    <span class="help-block">leave blank if you don't want to change it</span>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "off" %>
    <span class="help-block">we need your current password to confirm your changes</span>
  </div>
  
  <hr>

  <div class="form-group">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="form-group">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label "ombudsman id no." %>
    <%= f.text_field :omb_id_no %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.select(:gender, User.genders.keys)%></td>
  </div>

  <div class="field">
    <%= f.label :civil_status %>
    <%= f.select(:civil_status, User.civil_statuses.keys)%></td>
  </div>

  <div class="field">
    <%= f.label :mobile %>
    <%= f.text_field :mobile %>
  </div>

  <div class="field">
    <%= f.label :landline %>
    <%= f.text_field :landline %>
    <%= f.label "local" %>
    <%= f.text_field :landline_local %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :birthdate %>
    <%= f.text_field :birthdate %>
  </div>

  <div class="field">
    <%= f.label "facebook" %>
    <%= f.check_box :socmed_fb %>
  </div>

  <div class="field">
    <%= f.label "instagram" %>
    <%= f.check_box :socmed_ig %>
  </div>

  <div class="field">
    <%= f.label "twitter" %>
    <%= f.check_box :socmed_tw %>
  </div>

  <div class="field">
    <%= f.label "viber" %>
    <%= f.check_box :socmed_vi %>
  </div>

  <div class="field">
    <%= f.label "Other social networks" %>
    <%= f.text_field :socmed_other %>
  </div>

  <hr>

  <div class="field">
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>

  <div class="field">
    <%= f.label :appointment_status %>
    <%= f.text_field :appointment_status %>
  </div>

  <div class="field">
    <%= f.label :rank %>
    <%= f.text_field :rank %>
  </div>

  <div class="field">
    <%= f.label :development_partner %>
    <%= f.text_field :development_partner %>
  </div>

  <div class="field">
    <%= f.label "YEARS WITH THE OFFICE OF THE OMBUDSMAN" %>
    <%= f.number_field :omb_years %>
  </div>

  <div class="field">
    <%= f.label "YEARS WITH THE OFFICE/BUREAU" %>
    <%= f.number_field :bureau_years %>
  </div>

  <div class="field">
    <%= f.label :supervisor %>
    <%= f.text_field :supervisor %>
  </div>

  <div class="field">
    <%= f.label :supervisor_position %>
    <%= f.text_field :supervisor_position %>
  </div>

  <div class="field">
    <%= f.label :profession %>
    <%= f.text_field :profession %>
  </div>

  <div class="field">
    <%= f.label :salary_grade %>
    <%= f.select(:salary_grade, User.salary_grades.keys)%></td>
  </div>

  <div class="field">
    <%= f.label :current_salary %>
    <%= f.number_field :current_salary %>
  </div>

  <div class="field">
    <%= f.label :allowances %>
    <%= f.number_field :allowances %>
  </div>

  <div class="field">
    <%= f.label "Is Lawyer" %>
    <%= f.check_box :is_lawyer %>
  </div>

  <%= f.submit "Update", class: 'btn btn-primary' %>
<% end %>

<!---
<h3>Cancel my account</h3>

<p>Unhappy?
  <%#= button_to "Cancel my account", registration_path(resource_name), class: 'btn btn-danger',
                data: { confirm: "Are you sure?" }, method: :delete %>
</p>
-->
<%= link_to "Back", :back, class: 'btn btn-default btn-sm' %>
