<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Ombudsman ID No.:</strong>
  <%= @user.omb_id_no %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Civil Status:</strong>
  <%= @user.civil_status %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user.mobile %>
</p>

<p>
  <strong>Landline:</strong>
  <%= @user.landline %>
  <%= @user.landline_local %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Birth Date:</strong>
  <%= @user.birthdate %>
</p>

<p>
  <strong>Social Networks:</strong>
  <%= "Facebook" if @user.socmed_fb? %>
  <%= "Twitter" if @user.socmed_tw? %>
  <%= "Instagram" if @user.socmed_ig? %>
  <%= "Viber" if @user.socmed_vi? %>
  <%= @user.socmed_other %>
</p>

<p>
  <strong>Is Active:</strong>
  <%= @user.active %>
</p>

<p>
  <strong>Is Admin:</strong>
  <%= @user.admin %>
</p>

<hr>

  <p>
    <strong>Position:</strong>
    <%= @user.position %>
  </p>

  <p>
    <strong>Appointment status:</strong>
    <%= @user.appointment_status %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= @user.position %>
  </p>

  <p>
    <strong_development_partner>Development partner:</strong>
    <%= @user.position %>
  </p>

  <p>
    <strong>Years with the office of the ombudsman:</strong>
    <%= @user.omb_years %>
  </p>

  <p>
    <strong>Years with the office/bureau:</strong>
    <%= @user.bureau_years %>
  </p>

  <p>
    <strong>Supervisor:</strong>
    <%= @user.supervisor %>
  </p>

  <p>
    <strong>Supervisor position:</strong>
    <%= @user.supervisor_position %>
  </p>

  <p>
    <strong>Profession:</strong>
    <%= @user.profession %>
  </p>

  <p>
    <strong>Salary grade:</strong>
    <%= @user.salary_grade %>
  </p>

  <p>
    <strong>Current salary (Monthly):</strong>
    <%= @user.current_salary %>
  </p>

  <p>
    <strong>Allowances (Monthly):</strong>
    <%= @user.allowances %>
  </p>

  <p>
    <strong>Is lawyer:</strong>
    <%= @user.is_lawyer %>
  </p>
  
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
